[Unit]
Description=MCommander Server Manager

[Service]
Type=forking
PIDFile=/var/lib/mcmdd/mcmdd.pid
ExecStart=/usr/bin/mcmdd -d /var/lib/mcmdd -f -u mcmdd

[Install]
WantedBy=multi-user.target

