[Unit]
Description=MCommander Server Manager

[Service]
ExecStart=/usr/bin/mcmdd -d /var/lib/mcmdd -n -u mcmdd

[Install]
WantedBy=multi-user.target

