<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>me.cmastudios.mcmdd</string>
	<key>EnableGlobbing</key>
	<true/>
	<key>Program</key>
	<string>/usr/local/bin/mcmdd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/mcmdd</string>
		<string>-n</string>
		<string>-d</string>
		<string>~/Library/Application Support/mcmdd</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
