Source: mcmdd
Section: contrib/utils
Priority: optional
Maintainer: Connor Monahan <admin@cmastudios.me>
Build-Depends: debhelper (>= 8.0.0), cmake, dpkg-dev (>= 1.16.1~), dh-systemd (>= 1.5)
Standards-Version: 3.9.6
Homepage: http://cmastudios.me
Vcs-Git: https://github.com/cmastudios/mcmdd.git
Vcs-Browser: https://github.com/cmastudios/mcmdd

Package: mcmdd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: MCommander Server Manager
 mcmdd monitors, controls, and restarts other application servers. It has
 been designed specifically for control of game servers, specifically
 Minecraft servers.
