Source: mcmdd
Section: contrib/utils
Priority: optional
Maintainer: Connor Monahan <admin@cmastudios.me>
Build-Depends: debhelper (>= 8.0.0), cmake, dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.3
Homepage: http://cmastudios.me
#Vcs-Git: git://git.debian.org/collab-maint/mcmdd.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mcmdd.git;a=summary

Package: mcmdd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: MCommander Server Manager
 mcmdd monitors, controls, and restarts other application servers. It has
 been designed specifically for control of game servers, specifically
 Minecraft servers.
